.jumbotron {
  padding-top: 10rem;
  background-color: #f0ede4;
}

#projects {
  background-color: #f0ede4;
}

#skills {
  background-color: #f0ede4;
}

section {
  padding-top: 5rem;
}
